.errorPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.errorPopup__visible {
    opacity: 1;
    visibility: visible;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        backdrop-filter: blur(0); /* Начальное значение размытия */
        opacity: 0;
        visibility: hidden;
    }
    to {
        backdrop-filter: blur(10px); /* Конечное значение размытия */
        opacity: 1;
        visibility: visible;
    }
}

.errorPopup__overlay {
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorPopup__content {
    max-width: 300px;
    width: 100%;
    min-height: 245px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.49);
    flex: 1 1;
}

.errorPopup__icon {
    font-size: 50px;
    user-select: none;
}

.errorPopup__text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-top: 40px;
    min-height: 57px;
}

.errorPopup__closeButton {
    max-width: 396px;
    width: 100%;
    height: 45px;
    cursor: pointer;
    border-radius: 3px;
    background: #2BE080;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-top: 45px;
}
