@keyframes slideInMenu {
    from {
        right: -200%;
    }
    to {
        right: 0;
    }
}

@keyframes slideOutMenu {
    from {
        right: 0;
    }
    to {
        right: -200%;
    }
}

.Burger {
    display: none;
}

.burger-button__open {
    display: none;
}

.burger-button__icon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44px;
    height: 44px;
    padding: 9px 9px 11px 8px;
}

.burger-button__line {
    width: 100%;
    height: 3px;
    background: black;
}

.burger-menu {
    position: fixed;
    top: 0;
    width: 68%;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
    right: -200%;
    z-index: 11111;
}

.burger-menu.close {
    animation: slideOutMenu 0.8s forwards;
}

.burger-menu.active {
    right: 0;
    animation: slideInMenu 0.8s alternate;
    overflow: auto;
}

.burger-menu__container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-menu__container-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.burger-button__icon-close {
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
}

.burger-menu__container-link {
    margin-top: 102px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.burger-menu__link {
    margin-bottom: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
    color: #000;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.burger-menu__link:not(:last-child) {
    margin-bottom: 29px;
}

.burger-menu__container--account {
    margin-bottom: 92px;
}

.burger-menu__user-link {
    display: flex;
    text-decoration: none;
    align-items: center;
}

.burger-menu__user-text {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-right: 17px;
    text-decoration: none;
}

.burger-menu__user-icon {
    margin: 8px;
}

.burger-menu__link-active {
    position: relative;
}

.burger-menu__link-active::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-top: 20px;
}

.burger-menu-link:hover {
    color: #007bff;
}

.burger-icon-line {
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .burger-button__open {
        display: inline-block;
    }

    .Burger {
        display: inline-block;
    }
}

@media screen and (max-width: 450px) {
    .burger-menu {
        width: 100%;
    }

    .burger-menu__container-link {
        margin-top: 96px;
    }

    .burger-menu__link {
        margin-bottom: 48px;
    }

    .burger-menu__container--account {
        margin-bottom: 48px;
    }

    .burger-menu__link:not(:last-child) {
        margin-bottom: 25px;
    }

    .burger-menu__link-active::after {
        bottom: -9px;
    }
}